html {
    font-size: 62.5%;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    text-align: justify;
}

body {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: relative;
    background-color: brown;
    color: white;
}

#title {
    display: inline-block;
    line-height: 5rem;
    margin: 0rem;
    font-size: 3rem;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#title-r {
    margin-left: 13vw;
}

#menu {
    display: none;
    flex-direction: column;
    line-height: 5rem;
    font-size: 2rem;
}

#menu a {
    padding-left: 13vw;
}

#menu a:hover {
    background-color: rgba(255, 255, 255, 0.959);
    color: black;
}

#menu-ico {
    position: absolute;
    display: block;
    /* background-color: black; */
    background-image: url('https://www.pngkey.com/png/full/803-8039227_lines-clipart-thick-side-menu-icon-white.png');
    background-size: cover;
    background-position: center;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    right: 0;
    top: 0;
}

footer {
    text-align: center;
    padding-bottom: 2rem;
}

footer > div {
    text-align: left;
    padding: 0rem 2rem;
}

footer p {
    margin: 0.5rem 0rem;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

#social img {
    margin: 0rem 0.5rem;
    width: 4.4rem;
}

main section {
    min-height: 100vh;
    padding: 2rem;
}

main section:nth-child(even) {
    background-color: white;
    color: black;
}

.head-section {
    display: flex;
    flex-direction: column;
}

.head-section > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#cover {
    margin: 0rem auto;
}

#cover img {
    display: block;
    margin: 0rem auto;
    max-width: 100%;
    max-height: 70rem;
}

#cite {
    display: flex;
    justify-content: center;
}

#cite blockquote {
    width: 100%;
    text-align: left;
    background: linear-gradient(90deg, rgba(255,255,255,0.09) 0%, rgba(0,0,0,1) 100%);
    /* background-color: rgba(255, 255, 255, 0.068); */
    font-size: 2.2rem;
    padding: 1rem;
    border-left: 0.5rem solid brown;
}

.facts {
    padding: 1rem;
    /* border-left: 10px solid brown; */
}

.facts h3 {
    text-decoration: underline;
    text-decoration-color: brown;
}

#organisators {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#organisators img {
    margin: 1rem 1rem;
    width: 7rem;
    height: 7rem;
    max-width: 10rem;
    border: 4px solid white;
    border-radius: 50%;
}

#event-details iframe {
    width: 100%;
    height: 50vh;
}

#event-details h3 {
    text-decoration: underline;
    text-decoration-color: brown;
}