{% extends 'layout.html' %}

{% block content %}
<section class="head-section">
    <div id="cover">
        <img src="{{ url_for('static', filename='images/avatar2.png') }}" alt="">
    </div>
    <div id="cite">
        <!-- <h3>Молодь пам'ятає Шухавича</h3> -->
        <blockquote>
            Мудрого - не одурити. <br>
            Чесного - не купити. <br>
            Мужнього - не зламати. <br>
        </blockquote>
    </div>
</section>
<section>
    <h2>Коротко про Шухевича</h2>
    <div class="facts">
        <h3>Дитинство</h3>
        <p>Роман народився у Львові 30 червня 1907 р. ( вул. Довбуща 2). Дитинство Романа минуло у містечку Краківці на Львівщині. У 1914 році його родина переїхала до Камінки-Струмілової (тепер місто Кам’янка-Бузька).</p>
    </div>
    <div class="facts">
        <h3>Учасник Пласту</h3>
        <p>В свої молоді роки Шухевич був учасником 1-го куреня ім. П.Сагайдачного та 7-го куреня ім. Князя Льва, пізніше 1-го куреня УСП ім. Ф.Черника, 3-го куреня УСП "Лісові Чорти" та 10-го куреня УСП "Чорноморці"</p>
    </div>
    <div class="facts">
        <h3>Діяльність в УВО</h3>
        <p>Роман Шухевич  уже в старших класах гімназії мав зв’язки з  членами Української Військової Організації. А після створення ОУН став її членом.У 1930-1934 рр. Шухевича (псевдо «Дзвін») було призначено бойовим референтом Крайової Екзекутиви ОУН.</p>
    </div>
    <div class="facts">
        <h3>Діяльність у Карпатській Україні</h3>
        <p>У жовтні 1938 р. на Закарпатті постала незалежна Карпатсько-Українська держава. Наприкінці грудня 1938 р. разом з Іваном Бутковським — «Гуцулом» нелегально перейшов польсько-чехословацький кордон і добрався на Різдво 1939 р. до міста Хуст. Тут він разом із провідними членами ОУН створив Генеральний штаб національної оборони Карпатської України.</p>
    </div>
    <div class="facts">
        <h3>Головний командир УПА</h3>
        <p>Після втечі з-під німецької варти він зв’язався з Проводом ОУН та приєднався до боротьби, очоливши військову референтуру. У травні став членом Бюро Проводу ОУН, згодом — Головою, а у серпні 1943 р. на III Надзвичайному великому зборі ОУН був обраний Головою Бюро Проводу ОУН і призначений Головним командиром УПА.</p>
    </div>
</section>
<section id="event-details">
    <h2>Про захід</h2>
    <h3>Легенда заходу</h3>
    <p>
        Цього року ми відзначаємо 71-річницю з дня загибелі героя України генерал-хорунжого Романа Шухевича - геніальної людини, головнокомандувача УПА, успішного підприємця та пластуна. Щороку пластуни вшановують його пам’ять, організовуючи ряд заходів. Традиційним для нас є формат теренової гри, та цього року команда організаторів приготувала для тебе багато несподіванок. Ти будеш приємно вражений, здобудеш корисний досвід та отримаєш нові враження!
    </p>
    <h3>Організатори</h3>
    <div id="organisators">
        <a href="https://www.facebook.com/profile.php?id=100004328711329" target="_blank" title="Ігор Мосевич">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t1.0-1/s200x200/113332250_1722672554553685_8457791668798917620_o.jpg?_nc_cat=109&ccb=3&_nc_sid=7206a8&_nc_ohc=rsNekJ7SEb0AX-och8L&_nc_ht=scontent.fiev22-1.fna&tp=7&oh=56949e2d1b5a0364e301ec125f5c986b&oe=605DAFAD">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100010285593135" target="_blank" title="Олег Нанівський">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t1.0-1/p200x200/62352703_866584727027706_500368156749987840_n.jpg?_nc_cat=108&ccb=3&_nc_sid=7206a8&_nc_ohc=S7pjexXPD1EAX_Cby6I&_nc_ht=scontent.fiev22-1.fna&tp=6&oh=3da27e1732d1081a6285e09e3ebabaa4&oe=605F58CA">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100010364922894" target="_blank" title="Андрій Ониськів">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t1.0-1/p200x200/56828218_835693550119468_8715555414676078592_o.jpg?_nc_cat=105&ccb=3&_nc_sid=7206a8&_nc_ohc=mrHn4NnS4MIAX-RosoU&_nc_ht=scontent.fiev22-1.fna&tp=6&oh=db54a9602fa2a63eaa6239acaa4bffdf&oe=605E7544">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/slavko.senkiv/" target="_blank" title="Ярослав Сеньків">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t1.0-1/p200x200/43880065_1381121932024639_912909845819031552_n.jpg?_nc_cat=103&ccb=3&_nc_sid=7206a8&_nc_ohc=xJoP6Mus2hIAX8Bw4Ya&_nc_ht=scontent.fiev22-1.fna&tp=6&oh=932fc8ab9b1804f2d3cf7bd27fc2250a&oe=605E5001">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/andriy.holovey/" target="_blank" title="Andriy Holovey">
            <picture>
                <source srcset="https://scontent.fiev22-2.fna.fbcdn.net/v/t1.0-1/c0.0.200.200a/p200x200/69692682_2057396914568748_2726909581300072448_o.jpg?_nc_cat=110&ccb=3&_nc_sid=7206a8&_nc_ohc=k7NRQIdFdJcAX9FuuhO&_nc_ht=scontent.fiev22-2.fna&tp=27&oh=80443a224a44ff474f13b6137834cc3c&oe=605E00B6">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100010546746242" target="_blank" title="Маркіян Петрів">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t31.0-1/p200x200/18700654_457604897934398_7308009985806142230_o.jpg?_nc_cat=105&ccb=3&_nc_sid=7206a8&_nc_ohc=58JLE-HEAuMAX8KYdsD&_nc_ht=scontent.fiev22-1.fna&tp=6&oh=abc512b9ea4351073d28aef443b12779&oe=605E3380">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/elik.genshliak/" target="_blank" title="Elik Genshliak">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t1.0-1/p200x200/119277778_3530941256971982_3555296476787618482_o.jpg?_nc_cat=106&ccb=3&_nc_sid=7206a8&_nc_ohc=4jAp7g_oxMQAX_unOrP&_nc_oc=AQnpyPDwlgUiv5R0_WG4YSa0T9K98rimyt80KucjvnKx8uiWXpVDNbQrXoS_t6Z5xok&_nc_ht=scontent.fiev22-1.fna&tp=6&oh=d99b665396730eccff5cd34bde958a58&oe=605E8C3D">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/Olesuk/" target="_blank" title="Oleksandr Smetana">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t1.0-1/140554931_10218978181347835_2030652837354637101_n.jpg?_nc_cat=108&ccb=3&_nc_sid=7206a8&_nc_ohc=QaLtK10O3NQAX-pcakc&_nc_ht=scontent.fiev22-1.fna&oh=7ddbce4eacec8365e9fb2a2cc4e9d43c&oe=605BEBA7">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/IIIl.i.n.k.a.IIIl/" target="_blank" title="Настя Сурма">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t1.0-1/p200x200/152935669_2109700182497707_6675728546865623310_o.jpg?_nc_cat=103&ccb=3&_nc_sid=7206a8&_nc_ohc=4QlGEg9YVfIAX9rpKRg&_nc_ht=scontent.fiev22-1.fna&tp=6&oh=ad8ffac288760978b57fa7c3c7b189c1&oe=605D8396">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/roman.prishlyak.3/" target="_blank" title="Roman Prishlyak">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t1.0-1/p200x200/92669853_699157790888663_211274569481191424_o.jpg?_nc_cat=106&ccb=3&_nc_sid=7206a8&_nc_ohc=vqZhcE1CLlcAX8aK_6d&_nc_ht=scontent.fiev22-1.fna&tp=6&oh=2857a039258c52bc1f2469aa1d12092f&oe=605C5B21">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100008528282389" target="_blank" title="Maryna Balaka">
            <picture>
                <source srcset="https://scontent.fiev22-2.fna.fbcdn.net/v/t1.0-1/s200x200/143269184_2549067208720864_7282276622810209035_o.jpg?_nc_cat=102&ccb=3&_nc_sid=7206a8&_nc_ohc=xabCUjMzcj0AX-Qzbtm&_nc_ht=scontent.fiev22-2.fna&tp=7&oh=3cc9cb3c3dc172561b779182b1df36b0&oe=605C7608">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100000358660989" target="_blank" title="Андрій Кісик">
            <picture>
                <source srcset="https://scontent.fiev22-1.fna.fbcdn.net/v/t1.0-1/p200x200/118523224_3547183968636857_5021649338155546504_o.jpg?_nc_cat=106&ccb=3&_nc_sid=7206a8&_nc_ohc=nqnKH_Jv1sAAX-OwPHe&_nc_ht=scontent.fiev22-1.fna&tp=6&oh=84dcf93985f9879129c9c88cfa7c2534&oe=605D566D">
                <img src="https://www.meme-arsenal.com/memes/5527558dcdb2c5c7c441b2f4a9fa2007.jpg" alt="profile">
            </picture>
        </a>
    </div>
    <h3>Місце і дата зустрічі</h3>
    <p>
        Цього року квест пройде <b>6 березня</b> у місті Дрогобич.
        Місце збірки - пластова домівка (всі знають де вона є, правда) )
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d649.7479419611458!2d23.504380529246287!3d49.35230437231246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473a4deedb31ae19%3A0xa135e521fa1f1e00!2z0JHRg9C00LjQvdC-0Log0LLRh9C40YLQtdC70Y8!5e0!3m2!1sen!2sua!4v1614285415778!5m2!1sen!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
{% endblock %}