<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МПШ - 2021</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-pc.css') }}">
</head>
<body>
    <header>
        <a id="title-r" href="{{ url_for('index') }}">
            <h1 id="title">МПШ 2021</h1>
        </a>
        {% if session['user'] %}
            <nav id="menu">
                <a href="{{ url_for('ranks') }}">Рейтинг команд</a>
                {% if session['admin'] %}
                    <a href="{{ url_for('admin') }}">Для інструктора</a>
                {% else %}
                    <a href="{{ url_for('tasks', team_id=session['user']) }}">Завдання</a>
                {% endif %}
            </nav>
            <a id="menu-ico" href="javascript:void(0);" onclick="myMenu();"></a>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <h2>Контактна інформація</h2>
        <div id="contacts">
            <div id="social">
                <!-- https://www.iconsdb.com/white-icons/white-social-icons.html -->
                <a href="https://www.facebook.com/events/333807781309377/?ti=ls" title="Facebook" target="_blank">
                    <img src="{{ url_for('static', filename='images/fb_ico.png') }}" alt="Facebook">
                </a>
                <!-- <a href="" title="Instagram" target="_blank">
                    <img src="{{ url_for('static', filename='images/insta_ico.png') }}" alt="Instagram">
                </a> -->
            </div>
            <div>
                <p>093-449-67-42 - Комендант Мосевич Ігор</p>
                <p>099-409-61-42 - Писар Балака Марина</p>
                <p>вул. Шкільна, 2, Дрогобич</p>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>