{% extends 'layout.html' %}

{% block content %}
<section>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Зарахування точки</h1>
    <form id="poll-form" method="post">
        <label for="answer">{{ question }}</label>
        <br>
        <input class="type-input" type="text" name="answer">
        <br>
        <input class="submit-butt" type="submit" value="Відповісти">
    </form>
</section>
{% endblock %}